:root {
    --nav-color: #171717;
    --select-color: #FD853A;
    --white-color: white;
    --second-back-color: #f2f4f7;
    --third-color: #272727;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Nunito", sans-serif;
    
  }
  
  nav {
    display: flex;
    width: 90%;
    background-color: var(--nav-color);
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
    border-radius: 55px/100%;
    padding: 5px;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    min-height: 60px;
    font-size: 1.1rem;
    position: fixed;
    z-index: 11;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 5px;
    width: 35%;
  
  }
ul {
  list-style: none;
}

  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  nav ul li a {
    padding: 1rem 1.5rem;
    display: block;
    cursor: pointer; 
    border-radius: 55px/100%;
  }
  
  nav ul li a:hover {
    background-color: var(--select-color);
  
  }
  nav ul li a.active{
    background-color: var(--select-color);
  }
  
  nav div {
    color: var(--select-color);
    font-style: bold;
  }

  #welcome-section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(160deg, var(--select-color), white);
    overflow-y:hidden;
  }

  .circle {
    width: 700px;
    height: 700px;
    background-color: #FEB273;
    position: relative;
    border-radius: 50%;
    bottom: -50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 3;
  }
  .circle img {
    height: 400px;
    position: absolute;
    top: 0%; 
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
  }
  .name-container {
    z-index: 2;
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    
    
  }

  .name-container p {
    border: 1px solid black;
    border-radius: 50px/100%;
    padding: 8px 12px;
    font-weight: bold;
    display: inline-block;
  }

  .name-container h1 {
    font-size: 2.9rem;
  }

  .name-container span {
    color: var(--select-color);
  }

  .vector1 {
    position: absolute;
    top: -20px;
  }

  .experience {
    position: absolute;
    top: 40%;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stars {
    width: 120px;
    height: 24px;
    background: url(./assets/icon/Star.svg) repeat-x;
    background-size: 24px 24px;
  }

  .quote {
    position: absolute;
    top: 40%;
    width: 200px;
    left: 10%;
  }

  .experience span {
    font-size: 2rem;
    font-weight: bold;
  }
  .experience p {
    text-align: right;
  }

  .hidden-back {
    
    
    
  }
.hidden-back img {
    position: absolute;
    width: 700px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: none;
    z-index: 4;
}  

@keyframes textOut  {
    40%{
        top:5%;
    }
    60%{
        top: 5%;
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 70%;
    }
}

@keyframes textIn {
    0%{top: 70%; opacity:0;}
    40%{top: 5%; }
    60%{top: 5%; }
    100%{top:20%; opacity:1;}
}


@keyframes textUp {
    40%{top:60%}
    60%{top:60%}
    100%{top:20%}
}

@keyframes textDown {
    0%{top:20%}
    40%{top:60%}
    60%{top:60%}
    100%{top:40%}
}


@keyframes backIn {
    0%{transform: scale(0.8);}
    40%{transform: scale(1.01); opacity:1;}
    60%{transform: scale(1.01);}
    100%{transform: scale(1);}
}


@keyframes backOut {
    0%{transform: scale(1); }
    40%{transform: scale(0.4); opacity: 0.8; z-index: 0}
    60%{transform: scale(0.4); z-index: 0}
    100%{transform: scale(0); z-index: 0}
    
}



#projects {
  padding: 8rem 10px;
  text-align: center;
  background:
   url(./assets/Frame\ 58.svg);
  position: relative; 
  overflow: hidden;

}

.grid-projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-position: center;
  background-size: cover;
  max-width: 1280px;
  grid-gap: 3rem;
  margin: 0 auto;
  margin-bottom: 6rem;
  
  
}

#projects .project-tile {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  overflow: hidden;  
}
.project-tile h3{
  margin: 1rem 2rem;
  
}

.project-tile img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

a p {
  padding: 0.5rem 1rem
}

#projects h2 {
  max-width: 640px;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0 auto 2rem auto;
}

footer {
  background-color: var(--third-color);
  display: grid;
  width: 100%;
  min-height: 400px;
  grid-template-rows: 2fr 3fr 1fr;
}

hr {
  border-top: 1px solid white;
  margin-bottom: 3rem;
}

.bg-piece {
  position: absolute;
  z-index: 0;
}

.piece1 img{
  width: 300px;
  height: 300px;
}
.piece1 {
  right: 20px;
  top: 0;
}

.piece3 {
  bottom: -20px;
  left: 700px;
 

}

.more-btn {
  padding: 1rem 3rem;
  background-color: var(--select-color);
  z-index: 1;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.5rem;
}

.more-btn:hover {
  background-color: transparent;
  border: 1px solid var(--select-color);
  color: white;
}

#projects h2 {
  color:var(--white-color)
}


.up-footer {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  border-bottom: 1px solid #475467;
}

.up-footer p {
  font-size: 2rem;
  font-weight: bold;

}

.up-footer button {
  padding: 1rem 2rem;
  background-color: var(--select-color); 
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: white;
  font-size: 0.8rem;
}

.middle-footer {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 2fr;
  grid-gap: 10px;

}

.middle-footer h4 {
  color: var(--select-color);
  font-size: 1.3rem;
}

.middle-footer div:first-of-type  p{
  color: white;
  font-size: 0.7rem;
}

.navigation, .contact {
  text-align: center;
}
.navigation ul, .contact ul {
  text-align: center;
  color: white;
  margin-top: 1rem;
}

.navigation label, .contact label {
  color: var(--select-color);
  
}

.get-email {
  color: var(--select-color)
}

.get-email input {
  padding: 15px;
  border: none;
  border-radius: 12px 0 0 12px;
}

.get-email button {
  border: none;
  padding: 0 10px;
  background-color: var(--select-color);
  border-radius: 0 12px 12px 0;
  cursor: pointer;
}

#email-input {
  display: flex;
  margin-top: 10px
}


@media(max-height: 580px) {
  .circle {
    display: none;
  }
  .name-container {
    top: 40%;
    
  }
}

@media(max-width: 1100px) {
  nav {
    flex-direction:column;
    right: 10px;
    top: 30px;
    width: 100px;
    
    left: auto;
    text-align: center;
    border-radius: 12px;
  }
  nav ul {
    flex-direction: column;
    width: 100px;
  }
  nav ul li {
    margin: 0;
  }
}